body{

	background-color: lightcoral;
}
div
{			padding-bottom: 20px;
			padding-top: 20px;
			background-color: beige;
		}
		button:hover{

			background-color: beige;
			cursor: pointer;
		}
		button{

			background-color: bisque;
		}
