h1 {

			color: darkred;
			text-align: center;
		}
		header li{

			list-style: none;
		}
		a:link, a:visited{

			background-color:powderblue;
			text-decoration: none;
			display: block;
			border: 2px solid black;
			width: 200px;
			color: black;
			text-align: center;
			margin-bottom: 2px;
		}
		a:hover{

			background-color: aqua;
			cursor: progress;
		}
		div:hover{

			background-color: aqua;
			cursor: pointer;
		}
		div:nth-child(odd){

			background-color: powderblue;
		}
