	#main {

			background-color: violet;
			padding-bottom: 20px;
			padding-top: 20px;
			padding-left: 475px;
		}

		h1 {

			text-align: center;
			color: darkred;
		}

		h2 {

			text-align: center;
		}
		p {

			color: blueviolet;
			text-align: center;
		}

		.heading {

			color: blue;
			font-style: italic;
		}

		.pargh {

			background-color: yellow;
			font-style: italic;
			text-align: center;
			opacity: 0.5;
		}